*{
    Margin: 0;
    Padding: 0;
    Box-Sizing: Border-Box;
    Font-Family: 'Poppins', Sans-Serif;
    }
Body{
Display: Flex;
Justify-Content: Center;
Align-Items: Center;
Height: 100vh;
background-color: #16A085;
}
label{
    font-size:x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline dotted red;
}
.quote_cointainer{
Width: 550px;
Background: #212121;
Box-Shadow: 0 0 30px #2121216b;
Padding: 3.5em 2.5em;
Color: White;
Position: Relative;
Display: Flex;
Align-Items: Center;
Flex-Direction: Column;
border-radius: 30px;
}
.quote_cointainer .quote{
    font-family: cursive;
    font-size: larger;
}
.quote_cointainer .author{
Background: Linear-Gradient(To Right, #16A085, #F4D03F);
Background-Clip: Text;
-Webkit-Background-Clip: Text;
-Webkit-Text-Fill-Color: Transparent;
}
.btn{
Width: 200px;
Height: 40px;
Position: Absolute;
Bottom: -6%;
Background: Linear-Gradient(To Right, #16A085, #F4D03F);
Color: black;
Border: 1px solid;
Cursor: Pointer;
Font-Size: 1.3em;
Box-Shadow: -10px 20px 50px #16A0848e,10px 20px 50px #F4D03F98 ;
border-radius: 20px;
}